html, body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  color: hsl(0, 0%, 22%);
  padding: 16px;
}

/*
.member {
	margin: 2px 2px 2px 2px;
	border: 1 solid black;
}
.memberslist {
	border: 1 solid black;
	opacity: 0.5;
}

::selection{
	color: blue;
	background-color: lightgreen;
}
*/










